In [9]:
import pandas as pd 
import numpy as np
import pyarrow.parquet as pq
import matplotlib as mpl
import matplotlib.pyplot as plt
from typing import List 
import sklearn.preprocessing as preproc 

#from streamlit_searchbox import st_searchbox

In [12]:
trade_data_all_years = pq.ParquetDataset('../data/country_partner_sitcproduct4digit_year_2020.parquet').read_pandas().to_pandas()
trade_data_all_years

,location_id,partner_id,product_id,year,export_value,import_value,sitc_eci,sitc_coi,location_code,partner_code,sitc_product_code
0,0,7,714,2020.0,0.0,3.878100e+04,0.752255,-0.210544,ABW,ARE,0579
1,1,7,714,2020.0,224345.0,6.891240e+06,-0.998556,-0.819045,AFG,ARE,0579
2,2,7,714,2020.0,0.0,6.106900e+04,-2.505675,-1.255388,AGO,ARE,0579
3,4,7,714,2020.0,10646.0,0.000000e+00,-0.214489,-0.017753,ALB,ARE,0579
4,8,7,714,2020.0,3140981.0,1.243100e+04,-0.224482,0.082711,ARG,ARE,0579
...,...,...,...,...,...,...,...,...,...,...,...
3979135,236,104,1437,2020.0,673855552.0,0.000000e+00,-1.373512,-1.288644,VEN,IND,ZZZZ
3979136,104,236,1437,2020.0,0.0,6.738556e+08,0.416269,2.959785,IND,VEN,ZZZZ
3979137,247,46,1437,2020.0,0.0,1.128212e+08,-0.860299,-1.028314,ZMB,COD,ZZZZ
3979138,46,247,1437,2020.0,112821248.0,0.000000e+00,-1.267712,-1.146566,COD,ZMB,ZZZZ
3979139,43,107,1437,2020.0,0.0,6.250493e+09,1.299578,0.625046,CHN,IRN,ZZZZ

In [13]:
trade_data_all_years['minmax_import'] =  preproc.minmax_scale(trade_data_all_years[['import_value']])
trade_data_all_years['minmax_export'] =  preproc.minmax_scale(trade_data_all_years[['export_value']])
trade_data_all_years['standardized_import'] =  preproc.StandardScaler().fit_transform(trade_data_all_years[['import_value']])
trade_data_all_years['standardized_export'] =  preproc.StandardScaler().fit_transform(trade_data_all_years[['export_value']])

In [15]:
trade_data_all_years

,location_id,partner_id,product_id,year,export_value,import_value,sitc_eci,sitc_coi,location_code,partner_code,sitc_product_code,minmax_import,minmax_export,standardized_import,standardized_export
0,0,7,714,2020.0,0.0,3.878100e+04,0.752255,-0.210544,ABW,ARE,0579,3.689358e-07,0.000000e+00,-0.031136,-0.031422
1,1,7,714,2020.0,224345.0,6.891240e+06,-0.998556,-0.819045,AFG,ARE,0579,6.555852e-05,2.134264e-06,0.019373,-0.029768
2,2,7,714,2020.0,0.0,6.106900e+04,-2.505675,-1.255388,AGO,ARE,0579,5.809685e-07,0.000000e+00,-0.030972,-0.031422
3,4,7,714,2020.0,10646.0,0.000000e+00,-0.214489,-0.017753,ALB,ARE,0579,0.000000e+00,1.012787e-07,-0.031422,-0.031343
4,8,7,714,2020.0,3140981.0,1.243100e+04,-0.224482,0.082711,ARG,ARE,0579,1.182600e-07,2.988114e-05,-0.031330,-0.008270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3979135,236,104,1437,2020.0,673855552.0,0.000000e+00,-1.373512,-1.288644,VEN,IND,ZZZZ,0.000000e+00,6.410599e-03,-0.031422,4.935521
3979136,104,236,1437,2020.0,0.0,6.738556e+08,0.416269,2.959785,IND,VEN,ZZZZ,6.410599e-03,0.000000e+00,4.935521,-0.031422
3979137,247,46,1437,2020.0,0.0,1.128212e+08,-0.860299,-1.028314,ZMB,COD,ZZZZ,1.073304e-03,0.000000e+00,0.800176,-0.031422
3979138,46,247,1437,2020.0,112821248.0,0.000000e+00,-1.267712,-1.146566,COD,ZMB,ZZZZ,0.000000e+00,1.073304e-03,-0.031422,0.800176
3979139,43,107,1437,2020.0,0.0,6.250493e+09,1.299578,0.625046,CHN,IRN,ZZZZ,5.946290e-02,0.000000e+00,46.040539,-0.031422